<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>FastNews</title>
</head>
<body>
    <header th:replace="~{layout/plantilla :: header}"/>

    <!-- Sección principal para mostrar la información de tecnologia -->
    <section th:fragment="listadoTecnologia" id="listadoTecnologia">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h4>Seccion de Tecnologia</h4>
                        </div>
                        <div th:if="${tecnologia != null and !tecnologia.empty}">
                            <div class="list-group">
                                <!-- Iterando a través de la lista de tecnologia -->
                                <div th:each="tecnologia : ${tecnologia}">
                                    <div class="list-group-item">
                                        <h2 class="mb-1">Titulo: [[${tecnologia.nombre}]]</h2>
                                        <p class="mb-1">Descripción: [[${tecnologia.descripcion}]]</p>
                                        <img th:if="${tecnologia.ruta_imagen}" th:src="${tecnologia.ruta_imagen}" alt="Imagen de tecnologia" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center p-2" th:if="${tecnologia == null or tecnologia.empty}">
                            <span>No hay noticias de tecnologia disponibles</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer th:replace="~{layout/plantilla :: footer}"/>
</body>
</html>
